*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* #f08206 */
}
.orange{
  color: #ef8206;
}
.white{
  color: white;
}
.black{
  color:black;
}
.header-backimage{
background-image: url("https://res.cloudinary.com/shareef031/image/upload/v1640011367/yaroslav-konyk-TS4eBHeIIq8-unsplash_dpiocy.jpg");
background-repeat: no-repeat;
background-color: #cccccc;
background-position: center;
background-size: cover;
position: relative;
margin: 0;
padding: 0;
height: 600px;
width: 100%;


}
.navbar{
 
  background:#ef8206;
  box-shadow: 0 8px 32px 0 #f5bb79;;
  backdrop-filter: blur( 20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 2px;
  border: 1px solid #ef8206;;
  /* display:flex; */
  justify-content: flex-start;
  
  
}
nav ul{
  display: flex;
  justify-content:flex-start;
  align-items: center;
  height:58px;
  width: 100px;
}
nav ul li{
  list-style: none;
  padding: 0 23px;
}
nav ul li a{
  color: white;
  text-decoration: none;
}
nav ul li a:hover{
  color: black;
  font-size: bold;
  text-decoration: none;
  /* display: flex;
  justify-content:flex-end;
  align-items: center;  */
} */
.main-container{
  min-height: calc(100vh - 58px -50vh);
}

.contact-us{
  display:flex;
  justify-content: flex-start;
  width:100px;
  height:200px
}

#greet{
  font-size: 70px;
  text-align: center;
  padding-top:5px;
  color:white;
}
.head-title-to{
 color:#c5bfbf
}

.para{
  font-size: 15px;
  background-color:aliceblue;
  padding-bottom: 40px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.box{
  display: inline-block;
  border: solid 2px black;border-radius: 7px;
  border-color: #f08206;
  width: 27%;
  margin: 30px;
  padding: 7px;
  text-decoration-color: black;
  background-color: aliceblue;
}
.place{
  text-align: center;
  color:#f08206;
  
}

.container{
  border: 2px solid rgb(138, 117, 133);
  /* border-right-width: 5px;
  border-bottom-width: 5px; */
  border-color: #f08206;
  padding: 5px;
  background-color:#f08206;
  width: 100%;
}
#head{
  text-align: center;
  padding-top: 5px;
  margin: 35px;
}
.icon{
  padding: 10px;
  display: inline-block;
  left: 20px;
  top:18px;
  font-size: 35px;
}
.review{
  display: inline-block;
  border: solid 2px rgb(138, 117, 133);
  border-color: white;
  border-radius: 7px;
  width: 27%;
  margin: 40px;
  padding: 7px;
  background-color: aliceblue;
}

.hearder-div{
    align-items: center;
    padding-top: 300px;
}
.header-h-text{
    color: white;
text-align: center;
font-size: 50px;
background: rgb(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgb(31, 38,135,0.37);
    backdrop-filter: blur( 20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);

}


.text-choos{
    text-align: center;
    padding-left: 45%;
    font-size: 30px;
}
.why-choos{
    padding-top: 5%;
}
.choos-list-left{
    padding-left: 5%;
    padding-top: 5%;
}



//others

.outer {
    font-family: "PT Serif", serif;
    margin-left: 70px;
    margin-right: 70px;
    padding: 20px;
    align-content: center;
  }
  .contai {
    font-family: "Roboto", sans-serif;
    float: left;
    width: 27%;
    margin: 20px;
    padding: 10px;
  }
  .heading {
    text-align: center;
  }
  .icons {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30px;
    height: 30px;
  }
  #headline {
    text-align: center;
  }
  .container-0 {
  padding-top: 30px;
  width: 100%;
  height:300px;
  padding-bottom: 50px;
  }
  .para-head{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 30px
  }
  #loc{
    width: 100%;

  }
  .loc-head{
    text-align: center;
    font-size: 30px;
    margin:50px;
  }
  

  .footer{
    background-color:#f08206;
    height: 50vh;
    width: 100%;
  }
  #contact{
    display:flex
    justify-content: 
    space-between;
  }
  .footer{
    /* padding-left:90px;
    padding-right:90px; */
    text-align: center;
    padding: 50px;
  }
  .form-text{
    font-size: 30px;
    padding-bottom: 20px;
  }
  .foot-pad{
    padding-top :50px;
  }
  